<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpn.mapper.UserMapper">
    <!--List<User> getAllUser();-->

    <select id="getAllUser" resultType="com.bjpn.bean.User">
        select *  from userinfo
    </select>
    <!-- boolean  delUserById(int userId);-->
    <delete id="delUserById" parameterType="int">
        delete from userinfo where userid=#{userId}
    </delete>

</mapper>